[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
selenium = "*"
pandas = "*"
matplotlib = "*"
requests = "*"
bs4 = "*"
lxml = "*"
flask = "*"
django-request = "*"
chromedriver = "*"

[dev-packages]

[requires]
python_version = "3.10"
